#header
{
text-align: center;
}

#main
{
margin-left: 16em;
/*margin-right: 16em; */
max-width:40em;
}

p
{
text-align: justify;
}

dt {
    font-weight: bold;
}



/*nav stuff */
#navcontainer
{
width: 13em;
border-right: 1px solid #000;
margin-bottom: 1em;
margin: 1em 3em 1.4em 0em;
font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
background-color: #90bade;
color: #333;
float: left;
height:100%;
}

#navcontainer ul
{
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}

#navcontainer li
{
border-bottom: 1px solid black;
margin: 0;
}

#navcontainer li a
{
display: block;
padding: 6px .5em 6px .5em;
border-left: .7em solid #c87800;
border-right: .7em solid #feaf38;
background-color: #fe9900;
color: #000;
text-decoration: none;
width: 10.6em;
}

#navcontainer li a.active
{
    background-color: #62d4f5;
}
#navcontainer li a.active:hover
{
    background-color: #52c4e5;
}

#navcontainer li a:hover
{
/* border-left-color: #1c64d1;
border-right-color: #5ba3e0; */
background-color: #fe9900;
color: #fff;
}

#navcontainer li li
{
border-top: 1px solid black;
border-bottom: 0;
margin: 0;
}

#navcontainer li li a
{
padding: 4px .5em 4px 1.3em;
background-color: #e58a00;
width: 9.8em;
}

#navcontainer li li li a
{
padding: 3px .5em 3px 1.9em;
background-color: #73b2e8;
width: 9.2em;
}
