body {
    width: 100%;
    background-color: #ddddff;
    margin: 0px;
    padding: 0px;0px
}
#header
{
    width: 1000px;
text-align: center;
display: block; margin-left: auto; margin-right: auto;
}

#wrap {
background-color: white;
width: 1000px;
clear: both;
margin-left: auto;
margin-right: auto;
}

#main
{
/* float: left; */
/* min-width: 20em;
max-width: 40em; */
padding: 1em;
}


p
{
text-align: left;
}

dt {
    font-weight: bold;
}

table.thin {
    border: 1px solid black;
    border-spacing: 1px;
    border-collapse:collapse;
}
table.thin td, table.thin th {
    border: 1px solid black;
    padding-left: 0.5em;
    padding-right: 0.5em;
}



/*nav stuff */
#navcontainer
{
border-top: 1px solid #000;
font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
font-size: smaller;
background-color: #292d59;
color: #333;
float: right;
width: 100%;
background-image: url(/images/header_stripe_blue_orange.jpg);
background-repeat repeat-x;
}

#navcontainer ul
{
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}

#navcontainer li
{
margin: 0;
display: inline;
}

#navcontainer li a
{
color: white;
text-decoration: none;
float: left;
font-size: 12pt;
text-transform: uppercase;
padding: 0.5em 1em;
padding-top: 24px;
}

#navcontainer li:last-child a
{
}

#navcontainer li a.active,
#navcontainer li a.active:hover,
#navcontainer li a:hover
{
    background-image: url(/images/orange_and_blue_arrow.gif);
    background-repeat: no-repeat;
    background-position: 50% 12px;
}


#navcontainer li li
{
border-top: 1px solid black;
border-bottom: 0;
margin: 0;
display: none;
}

#navcontainer li li a
{
padding: 4px .5em 4px 1.3em;
background-color: #e58a00;
width: 9.8em;
}

#navcontainer li li li a
{
padding: 3px .5em 3px 1.9em;
background-color: #73b2e8;
width: 9.2em;
}

.slideshow {
width: 480px;
height: 320px;
float: right;
margin-left: 1em;
margin-bottom: 1em;
border: 1px solid black;
}


h1 {
color: #233156;
}


/* for screen readers and cell phones */
.hidden
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

@media handheld {
    #main {
        margin-left: 0px;
    }
    #navcontainer {
        float: none;
    }
}
