body {
    width: 100%;
    background-color: #ddddff;
    margin: 0px;
    padding: 0px;0px
}
#header
{
    width: 1000px;
text-align: center;
display: block; margin-left: auto; margin-right: auto;
}

#wrap {
background-color: white;
width: 1000px;
clear: both;
margin-left: auto;
margin-right: auto;
}

#main
{
/* float: left; */
/* min-width: 20em;
max-width: 40em; */
padding: 1em;
}


p
{
text-align: left;
}

dt {
    font-weight: bold;
}

table.thin {
    border: 1px solid black;
    border-spacing: 1px;
    border-collapse:collapse;
}
table.thin td, table.thin th {
    border: 1px solid black;
    padding-left: 0.5em;
    padding-right: 0.5em;
}



/*nav stuff */
#navcontainer
{
border-right: 1px solid #000;
border-top: 1px solid #000;
font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
font-size: smaller;
background-color: #292d59;
color: #333;
height:100%;
float: right;
width: 100%;
}

#navcontainer ul
{
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}

#navcontainer li
{
margin: 0;
display: inline;
}

#navcontainer li a
{
border-right: 1px solid white;
padding: 0.5em 1em;
background-color: #292d59;
color: white;
text-decoration: none;
float: left;
font-size: 12pt;
text-transform: uppercase;
}
#navcontainer li:last-child a
{
    border-right: none;
}

#navcontainer li a.active
{
    background-color: #ff9400;
    color: black;
}
#navcontainer li a.active:hover
{
    background-color: #ff9400;
}

#navcontainer li a:hover
{
/* border-left-color: #1c64d1;
border-right-color: #5ba3e0; */
    background-color: #ff9400;
    color: black;
}

#navcontainer li li
{
border-top: 1px solid black;
border-bottom: 0;
margin: 0;
display: none;
}

#navcontainer li li a
{
padding: 4px .5em 4px 1.3em;
background-color: #e58a00;
width: 9.8em;
}

#navcontainer li li li a
{
padding: 3px .5em 3px 1.9em;
background-color: #73b2e8;
width: 9.2em;
}


/* for screen readers and cell phones */
.hidden
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

@media handheld {
    #main {
        margin-left: 0px;
    }
    #navcontainer {
        float: none;
    }
}
